.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    #ringLoader-1 {
        animation: spinRing1 1.5s linear infinite;
        transform-origin: center;
    }
    #ringLoader-2 {
        animation: spinRing2 1.5s linear infinite;
        transform-origin: center;
    }
}

@keyframes spinRing1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinRing2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}
